<div class="container bg-light" style="color: black; text-align:center">
    <div class="row">
        <div class="col-mid-2">
                <div class="copyright">
        &copy; Untitled. All rights reserved. Developed by Maulik Patel 
    </div>

</div>